html {
  --text-color: aliceblue;
  --background-color: rgba(13, 43, 68, 0.959);
  --text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  --box-shadow: 0 0 5px 5px rgba(24, 30, 20, 0.911);
  font-size: 62.5%;

}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 2rem;
  line-height: 1.5;
  background-color: rgba(8, 9, 10, 0.945);
  font-family: 'Rubik', sans-serif;

}

select {
  -webkit-appearance: none;
  font-size: 2rem;
  text-align: center !important;
  text-align: -moz-center !important;
  text-align: -webkit-center !important;
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  border-radius: 5%;
  border: none;
  outline-color: rgb(20, 6, 20);
  /* height: 5rem; */
  padding: 2rem;
}

.movies {
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  align-items: stretch;
  grid-gap: 3rem;
  padding: 2rem;
  opacity: 1;
}

.movie {
  background-color: var(--background-color);
  border-radius: 5%;
  box-shadow: var(--box-shadow);
}

.img-wrapper {
  height: 45rem;
  /* width: 100%; */
  /* width: 25rem; */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;

  background-repeat: no-repeat;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.img-wrapper>*:first-child {
  transform: translateY(-100%);
  opacity: 30%;
  transition: 0.5s ease-in-out;
}

.img-wrapper:hover>*:first-child {
  transform: translateY(0);
  opacity: 100%;
  transition: 0.5s ease-in-out;
}

.img-wrapper>*:last-child {
  transform: translateY(100%);
  opacity: 30%;
  transition: 0.5s ease-in-out;
}

.img-wrapper:hover>*:last-child {
  transform: translateY(-40%);
  opacity: 100%;
  transition: 0.5s ease-in-out;
}

.img-wrapper:hover+.title {
  opacity: 0.2;
  transition: 0.5s ease-in-out;
}

.plot {
  background: rgba(33, 66, 92, 0.884);
  color: var(--text-color);
  padding: 1rem;
  text-align: center;
  cursor: default;
}

button {
  padding: 2rem;
  border: 0;
  border-radius: 5px;
  background: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
}

button:hover {
  background-color: rgba(8, 32, 51, 0.884);
}

.title {
  padding: 1rem;
  text-align: center;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

.nav {
  display: none;
  justify-content: space-between;
  margin-top: 3rem;
  -webkit-appearance: none;
}

.filters {
  margin-left: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.overflow {
  overflow: hidden;
  padding-right: 1.5rem;
}

/* watchlist menu */

#burger-menu {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  margin-right: 5rem;
  overflow: visible;
  position: fixed;
  right: 0;
  z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: var(--text-color);
  display: block;
  height: 0.2rem;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

#burger-menu span {
  right: 0rem;
  top: 1.3rem;
  width: 2.7rem;
}

#burger-menu span:before {
  left: 0rem;
  top: -1rem;
  width: 2.7rem;
}

#burger-menu span:after {
  left: rem;
  top: 1rem;
  width: 2.7rem;
}

#burger-menu.close span {
  transform: rotate(-45deg);
  top: 1.3rem;
  width: 2.7rem;
}

#burger-menu.close span:before {
  top: 0rem;
  transform: rotate(90deg);
  width: 2.7rem;
}

#burger-menu.close span:after {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  right: 0;
  z-index: 1;
  width: 25rem;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 10rem;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
  /* padding-left: 10rem; */
}

#menu.overlay {
  visibility: visible;
  opacity: 1;
  /* margin: 0 auto; */
  /* padding-right: 100px; */
  background: rgba(0, 0, 0, 0.884);
}

#menu li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#menu a {
  color: var(--text-color);
  display: block;
  font-size: 3.2rem;
  margin-bottom: 3rem;
  text-decoration: none;
}

.movie-menu {
  padding: 3rem;
  width: 100%;
}

.cart-button {
  position: relative;
  display: block;
  margin: 0 auto;
}

.img {
  width: 100%;
}

.modal-outer {
  opacity: 50%;
  pointer-events: none;
  transition: opacity 0.2s;
}

/* loader */

.lds-roller {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

.hidden {
  opacity: 0;

}

.hidden2 {
  opacity: 0;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}